<div>
	<% if !@lights.status.nil? %>
		<hr>
		Lampada:
		<hr>
		<hr>
		<%= @lights.estado_lampada %>
		<hr>
		<br>
	<% end %>
	<% if !@tv.status.nil? %>
		<hr>
		Tv:
		<hr>
		<hr>
		<%= @tv.estado_tv %>
		<% if @tv.status == 1 %>
			<%= "Canal: #{@tv.channel}" %>
		<% end %>
		<hr>
		<br>
	<% end %>
	<% if !@termo.temperature.nil? %>
		<hr>
		Temperatura:
		<hr>
		<hr>
		<%= "Temperatura: #{@termo.celsius} / #{@termo.farenheit} / #{@termo.kelvin}" %>
		<hr>
	<% end %>

<!-- 	<%# form_with(url: "/search", method: "post") do %>
	  <%# label_tag(:q, "Search for:") %>
	  <%# text_field_tag(:q) %>
  <%# submit_tag("Mudar Temperatura") %>
<%# end %> -->
</div>