<div class="container">
	<% if !@lights.status.nil? %>
		<div class="col-6 centered">
			<div class="row rounded border border-primary">
				<div class="col-6">
					Lampada:
				</div>
				<div class="col-6">
					<%= @lights.estado_lampada %>
				</div>
			</div>
		</div>
	<% end %>
	<% if !@tv.status.nil? %>
		<hr>
		Tv:
		<hr>
		<hr>
		<%= @tv.estado_tv %>
		<% if @tv.status == 1 %>
			<%= "Canal: #{@tv.channel}" %>
		<% end %>
		<hr>
		<br>
	<% end %>
	<% if !@termo.temperature.nil? %>
		<hr>
		Temperatura:
		<hr>
		<hr>
		<%= "Temperatura: #{@termo.celsius} / #{@termo.farenheit} / #{@termo.kelvin}" %>
		<hr>
	<% end %>

<!-- 	<%# form_with(url: "/search", method: "post") do %>
	  <%# label_tag(:q, "Search for:") %>
	  <%# text_field_tag(:q) %>
  <%# submit_tag("Mudar Temperatura") %>
<%# end %> -->
</div>