<% if @rooms.count == 0 %>
	<div>Tem nada aqui, jovem</div>
<% else %>
	<% 
	count = 0
	@rooms.each do |room|
	 	if count == 0 
	 		count += 1 %>
	 		<div>AC atual: <%=room.ac_temperature %></div><br>
	 		<div>Valores Anteriores</div>
		<%else %>
			<br>
			<div><%=room.ac_temperature%></div>	
		<% end 
	end
end %>